<h1>Vyskytla sa chyba</h1>

<div class="content">
	<p>Boli sme upozornení a pokúsime sa tento problém čo najskôr vyriešiť.</p>
	<br />
	<p><%= link_to "Späť na hlavnú stránku", root_path %></p>
</div><!-- .content -->