<h1>Stránka sa nenašla!</h1>

<div class="content">
	<p>Prosím skontrolujte si adresu. Ak je správna, kontaktujte administrátora.</p>
	<br />
	<p><%= link_to "Späť na hlavnú stránku", root_path %></p>
</div><!-- .content -->